In [7]:
import numpy as np

#read txt
amazon = open('C:/Users/james/sentiment labelled sentences/amazon_cells_labelled.txt',"r",encoding="utf-8")
imdb = open('C:/Users/james/sentiment labelled sentences/imdb_labelled.txt',"r",encoding="utf-8")
yelp = open('C:/Users/james/sentiment labelled sentences/yelp_labelled.txt',"r",encoding="utf-8")

data1 = list(amazon)
data2 = (list(imdb))
data3 = (list(yelp))
doc1 = []
doc2 = []
doc3 = []
#convert to list
for i in data1:
    x = i.split('\t')
    k = x[1].split('\n')    
    doc1.append([x[0],int(k[0])])
for i in data2:
    x = i.split('\t')
    k = x[1].split('\n')    
    doc2.append([x[0],int(k[0])])
for i in data3:
    x = i.split('\t')
    k = x[1].split('\n')    
    doc3.append([x[0],int(k[0])])   
print(len(data1))
print(doc1[1])
print(len(data2))
print(doc2[1])
print(len(data3))
print(doc3[1])

1000
['Good case, Excellent value.', 1]
1000
['Not sure who was more lost - the flat characters or the audience, nearly half of whom walked out.  ', 0]
1000
['Crust is not good.', 0]

In [11]:
import pandas as pd
import helpers.data_mining_helpers as dmh

doc1 = np.array(doc1)
df1 = pd.DataFrame({'sentence': doc1[:,0],
                   'score': doc1[:,1],})
doc2 = np.array(doc2)
df2 = pd.DataFrame({'sentence': doc2[:,0],
                   'score': doc2[:,1],})
doc3 = np.array(doc3)
df3 = pd.DataFrame({'sentence': doc3[:,0],
                   'score': doc3[:,1],})

                                              sentence score
0    So there is no way for me to plug it in here i...     0
1                          Good case, Excellent value.     1
2                               Great for the jawbone.     1
3    Tied to charger for conversations lasting more...     0
4                                    The mic is great.     1
..                                                 ...   ...
995  The screen does get smudged easily because it ...     0
996  What a piece of junk.. I lose more calls on th...     0
997                       Item Does Not Match Picture.     0
998  The only thing that disappoint me is the infra...     0
999  You can not answer calls with the unit, never ...     0

[1000 rows x 2 columns]
                                              sentence score
0    A very, very, very slow-moving, aimless movie ...     0
1    Not sure who was more lost - the flat characte...     0
2    Attempting artiness with black & white and cle...     0
3         Very little music or anything to speak of.       0
4    The best scene in the movie was when Gerardo i...     1
..                                                 ...   ...
995  I just got bored watching Jessice Lange take h...     0
996  Unfortunately, any virtue in this film's produ...     0
997                   In a word, it is embarrassing.       0
998                               Exceptionally bad!       0
999  All in all its an insult to one's intelligence...     0

[1000 rows x 2 columns]
                                              sentence score
0                             Wow... Loved this place.     1
1                                   Crust is not good.     0
2            Not tasty and the texture was just nasty.     0
3    Stopped by during the late May bank holiday of...     1
4    The selection on the menu was great and so wer...     1
..                                                 ...   ...
995  I think food should have flavor and texture an...     0
996                           Appetite instantly gone.     0
997  Overall I was not impressed and would not go b...     0
998  The whole experience was underwhelming, and I ...     0
999  Then, as if I hadn't wasted enough of my life ...     0

[1000 rows x 2 columns]

In [30]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.feature_extraction.text import TfidfVectorizer

str1 = ''
str2 = ''
str3 = ''
for i in range(1000):
    str1 += doc1[i][0]
for i in range(1000):
    str2 += doc2[i][0]
for i in range(1000):
    str2 += doc3[i][0]



#word frequency
vectorizer = CountVectorizer(stop_words=None, token_pattern="(?u)\\b\\w+\\b")
X = vectorizer.fit_transform([str1,str2,str3])
result1 = pd.DataFrame(X.toarray(),columns=vectorizer.get_feature_names())
result1

,0,00,1,10,100,11,12,13,15,15g,...,yukon,yum,yummy,yun,z,z500a,zero,zillion,zombie,zombiez
0,0,0,9,4,1,1,1,1,1,1,...,0,0,0,0,0,1,1,0,0,0
1,2,1,13,34,2,1,3,2,2,0,...,1,2,4,1,1,0,5,1,2,1
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [31]:
#TFIDF
transformer = TfidfTransformer(smooth_idf=True)
Z = transformer.fit_transform(X)
result2 = pd.DataFrame(Z.toarray(),columns=vectorizer.get_feature_names(), index=['str1', 'str2', 'str3'])
result2

,0,00,1,10,100,11,12,13,15,15g,...,yukon,yum,yummy,yun,z,z500a,zero,zillion,zombie,zombiez
str1,0.000000,0.000000,0.008628,0.003835,0.000959,0.000959,0.000959,0.000959,0.000959,0.001261,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.001261,0.000959,0.000000,0.000000,0.000000
str2,0.001064,0.000532,0.005261,0.013759,0.000809,0.000405,0.001214,0.000809,0.000809,0.000000,...,0.000532,0.001064,0.002128,0.000532,0.000532,0.000000,0.002023,0.000532,0.001064,0.000532
str3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [35]:
r1 = np.array(result1)
r2 = np.array(result2)
r1.shape

(3, 5206)

In [25]:
from sklearn.datasets import make_classification
from sklearn.naive_bayes import BernoulliNB
from sklearn.model_selection import train_test_split